html {
	background-color: #fff;

	scroll-behavior: smooth;
}
body {
	color: #000;
	font-family: "Courier", monospace;

	background-color: #f2f2f2;
	border-radius: 1em;
	box-shadow: 0 10px 16px 0 #636363;

	max-width: 64em;

	margin: auto;
	padding: 2em;
}
p {
	color: #000;
	font-size: 16px;
}
button {
	color: #fff;
	font-family: "Courier", monospace;

	background-color: #0d0d0d;
}
li {
	margin: 5px 0;
}
a {
	color: #227;
}
dt {
	font-weight: bold;
}
code {
	display: inline-block;

	background-color: #ddd;

	font-family: "Courier New", monospace;
	font-size: 14px;
}
pre {
	white-space: pre-wrap;
}

.wrap_anywhere {
	word-wrap: anywhere;
}
.table_with_borders {
	border-collapse: collapse;
}
.table_with_borders td, th {
	border: 1px solid #000;
}
.matrix {
	border-spacing: 1em 0;
}
.left_matrix_bracket {
	border-bottom: 1px #000 solid;
	border-top: 1px #000 solid;
	border-left: 1px #000 solid;
}

.right_matrix_bracket {
	border-bottom: 1px #000 solid;
	border-top: 1px #000 solid;
	border-right: 1px #000 solid;
}

#scroll_to_top {
	position: fixed;

	bottom: 30px;
	right: 50px;

	color: #000;

	background-color: #ddd;

	border: 3px solid #bbb;
	border-radius: 5px;

	padding: 8px;
}
#scroll_to_top:hover {
	box-shadow: 0 5px 8px 0 #ccc;
}
#scroll_to_top:active {
	background-color: #ccc;
}
